<div class="btn-group btn-group-lg pull-right">
    <button type="button"
            class="btn btn-default"
            ng-click="vm.previousMonth()">Previous month</button>
    <button type="button"
            class="btn btn-default"
            ng-click="vm.nextMonth()"
            ng-disabled="vm.hasNextMonth()">Next month</button>
</div>

<h1>[[vm.date.format("MMMM YYYY")]]</h1>

<h2>Your incomes: <span class="label label-success">£ [[vm.expenses.totalIncomes]]</span></h2>
<h2>Your expenses: <span class="label label-danger">£ [[vm.expenses.totalExpenses]]</span></h2>
<h2>Your balance: <span class="label label-info">£ [[vm.expenses.balance]]</span></h2>



<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#expenses-collapse">Show expenses</a>
        </h4>
    </div>
    <div id="expenses-collapse" class="panel-collapse collapse in">
        <div class="panel-body">
            <ul class="expense-list">
                <li ng-repeat="expense in vm.expenses.expenses">
                    <span class="label label-primary">[[expense.transaction_date]]</span>
                    <span>[[expense.description]]</span>

                    <span class="label label-danger" ng-show="expense.debit_amount">£ [[expense.debit_amount]]</span>
                    <span class="label label-success" ng-show="expense.credit_amount">£ [[expense.credit_amount]]</span>
                </li>
            </ul>
        </div>
    </div>
</div>