<div class="btn-group btn-group-lg pull-right">
    <button type="button"
            class="btn btn-primary"
            ng-click="vm.previousMonth()">Previous month</button>
    <button type="button"
            class="btn btn-primary"
            ng-click="vm.nextMonth()"
            ng-disabled="vm.hasNextMonth()">Next month</button>
</div>

<h1>[[vm.date.format("MMMM YYYY")]]</h1>

<hr>

<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Information</strong>
            </div>
            <div class="panel-body text-center">
                <p><strong>Your incomes: <span class="label label-success">£ [[vm.transactions.totalIncomes]]</span></strong></p>
                <p><strong>Your transactions: <span class="label label-danger">£ [[vm.transactions.totalTransactions]]</span></strong></p>
                <p><strong>Your balance: <span class="label label-info">£ [[vm.transactions.balance]]</span></strong></p>
                <hr>
                <p><strong>Selected expenses: <span class="label label-danger">£ [[vm.selectedExpenses]]</span></strong></p>
                <p><strong>Selected incomes: <span class="label label-success">£ [[vm.selectedIncomes]]</span></strong></p>

                <h3>Selection</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.selectedTypes['TFR'], 'btn-success': vm.selectedTypes['TFR']}"
                            ng-click="vm.toggleTypeSelection('TFR')">
                        Transfer</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.selectedTypes['DEB'], 'btn-success': vm.selectedTypes['DEB']}"
                            ng-click="vm.toggleTypeSelection('DEB')">
                        Debit card</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.selectedTypes['FPI'], 'btn-success': vm.selectedTypes['FPI']}"
                            ng-click="vm.toggleTypeSelection('FPI')">
                        Payment incoming</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.selectedTypes['FPO'], 'btn-success': vm.selectedTypes['FPO']}"
                            ng-click="vm.toggleTypeSelection('FPO')">
                        Payment outcoming</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.selectedTypes['CPT'], 'btn-success': vm.selectedTypes['CPT']}"
                            ng-click="vm.toggleTypeSelection('CPT')">
                        Cashpoint</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.selectedTypes['DD'], 'btn-success': vm.selectedTypes['DD']}"
                            ng-click="vm.toggleTypeSelection('DD')">
                        Direct debit</button>
                    <button class="btn btn-sm btn-default"
                            ng-click="vm.selectAll()">
                        Select all</button>
                    <button class="btn btn-sm btn-default"
                            ng-click="vm.selectNone()">
                        Clear selection</button>
                </div>

                <h3>Show payments</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.shownTypes['TFR'], 'btn-info': vm.shownTypes['TFR']}"
                            ng-click="vm.toggleTypeShown('TFR')">
                        Transfer</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.shownTypes['DEB'], 'btn-info': vm.shownTypes['DEB']}"
                            ng-click="vm.toggleTypeShown('DEB')">
                        Debit card</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.shownTypes['FPI'], 'btn-info': vm.shownTypes['FPI']}"
                            ng-click="vm.toggleTypeShown('FPI')">
                        Payment incoming</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.shownTypes['FPO'], 'btn-info': vm.shownTypes['FPO']}"
                            ng-click="vm.toggleTypeShown('FPO')">
                        Payment outcoming</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.shownTypes['CPT'], 'btn-info': vm.shownTypes['CPT']}"
                            ng-click="vm.toggleTypeShown('CPT')">
                        Cashpoint</button>
                    <button class="btn btn-sm"
                            ng-class="{'btn-default': !vm.shownTypes['DD'], 'btn-info': vm.shownTypes['DD']}"
                            ng-click="vm.toggleTypeShown('DD')">
                        Direct debit</button>
                    <button class="btn btn-sm btn-default"
                            ng-click="vm.showAllTypes()">
                        Show all</button>
                    <button class="btn btn-sm btn-default"
                            ng-click="vm.showNoTypes()">
                        Show none</button>
                </div>

                <h3>Actions</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-sm btn-default" ng-click="vm.ignoreTransactions()">Ignore selected transactions</button>
                    <button class="btn btn-sm btn-default" ng-click="vm.undoIgnoreTransactions()">Unignore selected transactions</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8 col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="panel-title">Transactions</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                            <input id="show_ignored" type="checkbox" ng-model="vm.showIgnoredTransactions">
                            <label for="show_ignored">Show ignored transactions</label>
                        </div>
                    </div>
                </div>
                <p><a ng-click="vm.sortByQuantity()">Sort by quantity</a>, <a ng-click="vm.sortByDate()">Sort by date</a></p>
            </div>
            <div class="panel-body">
                <ul class="transaction-list">
                    <li ng-repeat="transaction in vm.transactions.transactions"
                        ng-hide="(transaction.ignored && !vm.showIgnoredTransactions) || !vm.shownTypes[transaction.transaction_type]">
                        <input type="checkbox" ng-model="transaction.selected" ng-change="vm.updateSelectedTransaction(transaction)">
                        <span class="label label-warning" ng-show="transaction.ignored">IGNORED</span>
                        <span class="label label-primary">[[transaction.transaction_date]]</span>

                        <span class="label label-info">[[transaction.transaction_type]]</span>
                        <span>[[transaction.description]]</span>

                        <span class="label label-danger" ng-show="transaction.debit_amount">£ [[transaction.debit_amount]]</span>
                        <span class="label label-success" ng-show="transaction.credit_amount">£ [[transaction.credit_amount]]</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
