{% load static %}
{% load djangular_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Moneys</title>

    <link href="{% static 'lib/c3/c3.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body ng-app="moneys">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Moneys</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block home %}{% endblock home %}">
                        <a href="/#/">Home</a>
                    </li>
                    <li class="{% block import_csv %}{% endblock import_csv %}">
                        <a href="/#/import_csv/">Import CSV</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container-fluid">
        <ng-view></ng-view>
    </div>

    <script>
        var moneys = moneys || {};
        moneys.csrftoken = '{% csrf_value %}';
    </script>

    <script src="{% static 'lib/d3/d3.js' %}" charset="utf-8"></script>
    <script src="{% static 'lib/c3/c3.js' %}"></script>
    <script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'lib/sass-bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'lib/underscore/underscore.js' %}"></script>
    <script src="{% static 'lib/moment/moment.js' %}"></script>

    <script src="{% static 'lib/angular/angular.js' %}"></script>
    <script src="{% static 'lib/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'lib/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'lib/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'lib/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>

    <script src="{% static 'js/app.module.js' %}"></script>
    <script src="{% static 'js/app.routes.js' %}"></script>

    <script src="{% static 'js/directives/fileModel.directive.js' %}"></script>
    <script src="{% static 'js/directives/formElement.directive.js' %}"></script>
    <script src="{% static 'js/directives/newCategory.directive.js' %}"></script>

    <script src="{% static 'js/services/logger.service.js' %}"></script>
    <script src="{% static 'js/services/data.service.js' %}"></script>

    <script src="{% static 'js/layout/home.controller.js' %}"></script>
    <script src="{% static 'js/layout/importCSV.controller.js' %}"></script>

</body>
</html>