{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block home %}active{% endblock home %}

{% block content %}

    <ul>
        {% for expense in expense_list %}
        <li>
        	<span class="label label-primary">{{ expense.transaction_date }}</span>
        	<span>{{ expense.description }}</span>
        	{% if expense.debit_amount %}
        	<span class="label label-danger">£{{ expense.debit_amount }}</span>
        	{% endif %}
        	{% if expense.credit_amount %}
        	<span class="label label-success">£{{ expense.credit_amount }}</span>
        	{% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}
